Profile/android/* linguist-vendored
Profile/ios/* linguist-vendored
Profile/linux/* linguist-vendored
Profile/windows/* linguist-vendored
Profile/web/* linguist-vendored
Profile/macos/* linguist-vendored
*.cpp linguist-vendored
