Profile/android/* linguist-generated
Profile/ios/* linguist-generated
Profile/linux/* linguist-generated
Profile/windows/* linguist-generated
Profile/web/* linguist-generated
Profile/macos/* linguist-generated
*.cpp linguist-vendored